<div class="bottom-bar">
    <a href="/">
        <div class="list-menu">
            <i class="fad fa-comment-dots"></i>
            <p>chatting</p>
        </div>
    </a>
    <a href="/group">
        <div class="list-menu">
            <i class="fad fa-users"></i>
            <p>group</p>
        </div>
    </a>
    <a href="/call">
        <div class="list-menu">
            <i class="fad fa-phone-plus"></i>
            <p>call</p>
        </div>
    </a>
    <a href="">
        <div class="list-menu">
            <i class="fad fa-cog"></i>
            <p>setting</p>
        </div>
    </a>
</div>