<div class="chat-bar">
    <form>
        <input type="text" name="message" placeholder="ketikan pesan...">
        <button type="submit"><i class="fas fa-paper-plane"></i></button>
    </form>
</div>