<div class="top-bar">
    <div class="back-button">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="info-bar">
        <div class="profile">
            <img src="/img/<%= chat.profile %>" alt="">
        </div>
        <div class="name-profile"><%= chat.name %></div>
    </div>
</div>